
body {
    background-color: rgb(125,191,228);
  }
  
   h1 {
    color: rgb(255,204,174);
    font-family: "verdana";
    font-size: 40px;
    letter-spacing: 50px;
    margin-left: 850px;
    margin-top: 200px;
  }

  p {
    color: rgb(40,52,94);
    font-family: verdana;
    text-align: left;
    margin-left: 850px;
    margin-right: 300px;
    font-size: 12px; 
    row-gap: 20px;
    word-spacing: 0.3cm;
    line-height: 35px;
  } 
  html {
    display: block;
    color: -internal-root-color;
}


  