
body {
    background-color: rgb(125,191,228);
  }
  
  h1 {
    color: rgb(255,204,174);
    text-align: right;
    font-size: 50px;
  }
  
  p {
    color: rgb(40,52,94);
    font-family: verdana;
    text-align: right;
    font-size: 50px;
  }